* {
  font-family: 'Fascinate Inline', cursive;
  color: rgb(25, 25, 25);
}

body {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

a:link {
  color: rgb(25, 25, 25);
  text-decoration: none;
}

a:hover {
  color: rgb(160, 4, 4);
}

a:visited {
  color: rgb(25, 25, 25);
}
